.green-background{
    background-color: #485e4b;
}

#hi-text{
    color: white;
    text-align: center;
    font-size: 120px;
}

#welcome-text{
    color: white;
    text-align: center;
    font-size: 40px;
}

#intro-text{
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 10px;
    font-size: large;
}

.center{
    text-align: center;
}

/* navbar testing */

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-li {
    display: inline;
    margin: 4px;
    color: white;
}

.nav-a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-a:hover {
    background-color: #555;
    color: white;
}

.deep-margin {
    margin-bottom: 50px;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.li-correct {
    color: black;
    display: block;
    list-style: circle;
}
  
